MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=payment_tracking
DEBUG=True
LOG_LEVEL=INFO
AUTH_USERNAME=JJE123
AUTH_PASSWORD=meeT@meet
AUTH_SECRET_KEY=change-this-secret-in-production
AUTH_TOKEN_EXPIRE_HOURS=87600
RECOVERY_EMAIL=mitanshusailor@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
